#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 5px;
}

input[type="text"]::placeholder {
  color: #999;
}

input[type="text"]:focus {
  border-color: #FFDE40;
}